<div class="py-5 my-5 text-center card" id={{ @question.identifier }}>
  <div class="card-body">
    <h3>Q {{add @index 1}}. {{ @question.headline }}</h3>
    <p class="lead">{{ @question.description }}</p>
    <br class="mb-4">
    <form class="needs-validation">
       <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3 mb-3">
              {{#each this.question.choices as |choice index|}}
              <div class="custom-control custom-radio">
                <Input class="custom-control-input" id="radio-{{ @index }}-{{ index }}" name="radio-{{ @index }}-{{ @index }}" type="radio" @value={{this.value}} value="{{ choice.value }}" />
                <label class="custom-control-label" for="radio-{{ @index }}-{{ index }}">{{ choice.label }}</label>
              </div>
              {{/each}}
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
       </div>
       <br class="mb-4">
       <button class="btn btn-primary" {{on "click" this.submit}} type="button" type="button">
         {{#if (eq this.details.questionIndex @totalQuestions)}}
        Finish
        {{else}}
        Next
        {{/if}} 
       </button>             
     </form> 
  </div>      
</div>