<div class="py-5 my-5 text-center card" id={{ @question.identifier }}>
  <div class="card-body">
    <h3>Q {{add @index 1}}. {{ @question.headline }}</h3>
    <p class="lead">{{ @question.description }}</p>
    <br class="mb-4">
    <form class="needs-validation">
       <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3 mb-3">
              {{#each @question.choices as |choice index|}}
              <div class="custom-control custom-checkbox">
                <Input type="checkbox" class="custom-control-input" id="checkbox-{{ @index }}-{{ index }}" {{on "change" this.change}} data-value="{{ choice.value }}" />
                <label class="custom-control-label" for="checkbox-{{ @index }}-{{ index }}">{{ choice.label }}</label>
              </div>
              {{/each}}
              <div class="invalid-feedback {{if (and this.submitted @question.required (eq this.value.length 0)) 'd-block' }}" >
                <b>*This question is required.</b>
              </div>
            </div>
       </div>
       <br class="mb-4">
       <button class="btn btn-primary" {{on "click" this.submit}} type="button" type="button">
         {{#if (eq @question.questionIndex @totalQuestions)}}
        Finish
        {{else}}
        Next
        {{/if}} 
       </button>             
     </form> 
  </div>      
</div>